/*FONTS*/
@font-face {
    font-family: "Dancing Script";
    src: url("../fonts/DancingScript-Regular.ttf");
}

@font-face {
    font-family: "Open Sans Light";
    src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
    font-family: "Open Sans Regular";
    src: url("../fonts/OpenSans-Regular.ttf");
}

/*COMMON STYLES*/
header {
    height: 76px;
    border-bottom: 1px solid #6c71c4;
    background-color: #fdf6e3;
}

/*
body {
    background-color: #fdf6e3;
    font-family: "Open Sans Light", monospace;
    color: #3d4f53;
}
*/

html {
    background-color: rgb(122, 119, 176);
}

html, body {
    margin: 0;
    width: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #6c71c4;
    font-family: "Open Sans Light", monospace;
}

dl dt {
    float: left;
    font-weight: bold;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.menu {
    list-style: none;
    font-family: "Open Sans Regular", monospace;
    font-size: 18px;
    overflow: hidden;
    margin: 0;
}

.menu li {
    float: left;
    margin: 20px 10px;
}

.menu li a {
    text-decoration: none;
    cursor: pointer;
    display: block;
    border-bottom: 1px dashed;
}

.menu a:hover {
    border-bottom: 0.07em solid;
    font-weight: bold;
}

.menu a:active {
    color: #707070;
}

footer {
    font-size: 14px;
    height: 76px;
    border-top: 1px solid #6c71c4;
    background-color: #fdf6e3;
    color: #707070;
}

footer p {
    display: inline-block;
    margin: 30px 55px 0 987px;
}

/*MAIN PAGE*/
.container {
    width: 1200px;
    margin: 0 auto;
    font-family: "Open Sans Light", monospace;
    color: #fefefe;
}

.container section {
    height: 795px;
    overflow: hidden;
    background: url("../img/bg-lilac.png") no-repeat;
}

/*.container header, .container footer {
    border: 0;
}*/

.logo a, .quote p:last-child {
    font-family: "Dancing Script", cursive;
}

.logo {
    font-size: 40px;
    margin-left: 40px;
    float: left;
}

.name-shop {
    font-family: "Open Sans Light", sans-serif;
    font-size: 25px;
    text-align: center;
}

.quote {
    font-family: "Open Sans Light", sans-serif;
    font-size: 20px;
    text-align: right;
    margin: 210px 55px 0 500px;
    display: inline-block;
}

.quote p:nth-child(2) {
    font-size: 22px;
}

/*CATALOG PAGE*/
.catalog h1 {
    margin-left: 40px;
}

.catalog > div {
    margin: 30px 40px;
}

/*PRODUCT PAGE*/
.product-characteristics dl dt {
    width: 190px;
}

.product-description h2, .product-characteristics h3, .detailed-description h3 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background: #eee8d5;
}

.product-description p {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.product-description p::first-letter {
    font-family: "Open Sans Regular", sans-serif;
    font-size: 24px;
    color: #6c71c4;
}

.product-description a {
    display: block;
}

.product-description img {
    border: 4px double #6c71c4;
}

.product-description img:hover {
    border-color: transparent;
}

.detailed-description table {
    margin-bottom: 18px;
}

.detailed-description table caption {
    text-align: left;
    font-weight: bold;
    margin-bottom: 18px;
}

.detailed-description table tr td:first-child {
    font-weight: bold;
    padding-right: 20px;
}

/*CONTACT PAGE*/
.contacts {
    margin-left: 40px;
}

.contacts h2 {
    font-size: 1.2em;
}

.form-element {
    color: #fdf6e3;
    border-radius: 5px;
    background-color: #586e75;
    font-size: 15px;
    font-family: "Open Sans Light", monospace;
    opacity: 0.4;
}

form div input {
    height: 25px;
}

/*name, email*/
form div:first-child input {
    width: 196px;
}

form input:focus, form textarea:focus {
    background-color: #6c71c4;
    color: #fefefe;
}

/*theme*/
form div:nth-child(2) input {
    width: 400px;
}

input, textarea {
    text-transform: capitalize;
}

input[type="submit"] {
    border: none;
    width: 110px;
    height: 30px;
    color: #fdf6e3;
    background: #6c71c4;
    border-radius: 5px;
    font-size: 15px;
}

textarea {
    width: 398px;
    height: 130px;
    resize: none;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #fdf6e3;
}

.address {
    margin-top: 30px;
}

.address dl dt {
    width: 100px;
}

.map {
    margin: 20px 0;
}