@font-face {
    font-family: "Dancing Script";
    src: url("../fonts/DancingScript-Regular.ttf");
}

@font-face {
    font-family: "Open Sans Light";
    src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
    font-family: "Open Sans Regular";
    src: url("../fonts/OpenSans-Regular.ttf");
}

body {
    background-color: #fdf6e3;
    font-family: "Open Sans Light", monospace;
    color: #3d4f53;
}

.menu {
    list-style: none;
    font-family: "Open Sans Regular", monospace;
    font-size: 18px;
}

.menu a {
    text-decoration: none;
    cursor: pointer;
    color: #6c71c4;
    border-bottom: 1px dashed;
}

.menu a:hover {
    border-bottom: 0.07em solid;
    font-weight: bold;
}

.menu a:active {
    color: #707070;
}

.name-shop, cite {
    font-family: "Dancing Script", cursive;
}

.name-shop {
    font-size: 60px;
    text-align: center;
}

blockquote {
    font-family: "Open Sans Regular", sans-serif;
    font-size: 20px;
    text-align: right;
    width: 35em;
}

cite {
    font-size: 22px;
}

footer {
    font-size: 14px;
}

.product-description h2, .product-characteristics h3, .detailed-description h3 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background: #eee8d5;
}

.product-description p {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.product-description img {
    border: 5px double #6c71c4;
}

.product-characteristics ul {
    list-style-image: url(../asterisk.png);
    line-height: 24px;
}

.detailed-description ul {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}